VITE_EMAILJS_PUBLIC_KEY=your_emailjs_public_key
VITE_EMAILJS_SERVICE_ID=your_emailjs_service_id
VITE_EMAILJS_TEMPLATE_ID=your_emailjs_template_id
VITE_NABL_CERTIFICATE_URL=https://drive.google.com/file/d/1WCvEWvJ9IPX1zE963Ux5EnDV4e6ELDly/view?usp=sharing
VITE_NABL_SCOPE_URL=https://drive.google.com/file/d/1IeBVWnmn4LipSSLWD0Thlj3q6WiSYzoq/view?usp=sharing
